.center{
    margin: 40px 40px;
} 

.isActive{
    border:5px solid darkgreen;
}

.receta{ 
    background-color:white;
    cursor: pointer;
border-radius:7px;
background-repeat: no-repeat;
background-size: cover;
width: 100px;
height: 100px;
margin: 20px 15px;
display: -webkit-flex; /* Safari */
display: flex;
  -webkit-flex-flow: column; /* Safari */
flex-flow:column;

-webkit-flex-grow: 1; /* Safari */
flex-grow:         1;
box-shadow: 0px 2px 3px rgba(0,0,0,0.1);

.contenido{
    text-align:center;
  padding: 20px 30px 20px 18px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  h3,h6{
    font-family: 'Roboto';
    font-weight: 300;
    color: #1E282E;
  }
  h3{
    font-size: 1em;
  }
  a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.875em;
  }
  .social{
    display: flex;
    justify-content: space-between;
    h6{
      color: #E2E2E2;
      font-size: 0.875em;
    }
    i,p{
      color: #E2E2E2;
    }
  }
}
transition: all 0.3s;
&:hover{
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  transform: translate(0,-3px);
  
}
} 

hr{
    border-top: 1px solid #E2E2E2;;
}

.swiper-container-receta{
  height: 200px;
  width: 100%;
  cursor: pointer;
  position: relative;
  .swiper-wrapper{
  
    .swiper-slide{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: no-repeat center center;
      background-size: cover;
      
      .textoSwiper{
        background: rgba(0,0,0,.3);
        width: 100%;
        height: 600px;
        padding-top: 260px;
      }
    }
  }
}

.boto-inactiu{
                padding: 0.5em 0.7em;
                margin: 1em 0.3em;
                border-radius: 5px;
                color: #a0a0a0;
                background: rgba(255, 255, 255, 0.95);
                font-size: 0.9em;
                box-shadow: 0px 2px 8px -4px #000;

      }
      .boto-actiu{
             padding: 0.5em 0.7em;
                margin: 1em 0.3em;
                border-radius: 5px;
                color: #ff7575;
                background: rgba(255, 255, 255, 0.95);
                font-size: 0.9em;
                box-shadow: 0px 2px 8px -4px #000;
      }

        .boto-inactiu2{
            padding: 0.5em 0.7em;
            margin: 1em 0.3em;
            border-radius: 5px;
            color: #a0a0a0;
            background: rgba(255, 255, 255, 0.95);
            font-size: 0.9em;
            box-shadow: 0px 2px 8px -4px #000;

      }
      .boto-actiu2{
        padding: 0.5em 0.7em;
        margin: 1em 0.3em;
        border-radius: 5px;
        color: #ff7575;
        background: rgba(255, 255, 255, 0.95);
        font-size: 0.9em;
        box-shadow: 0px 2px 8px -4px #000;
      }
.ab-right {
  
  position: absolute;
  right: 0px; 
}

.touchable{
cursor:pointer;
}