<!-- <div class="loadingPage" *ngIf="!isloaded ">
    <img src="src/assets/images/728.gif">
</div>

<div class="blogins" *ngIf="isloaded ">
<div *ngFor="let item of items | async" >

        <blog *ngIf="item.property && item.allowed"  [fblikes]="fblikes" [fb]="fb" [user]="user" [thiscard]='item' [lang]="lang" [translations]="translations"></blog>		

</div>
</div> -->


    <div class="blogins">
      <div *ngFor="let shirt of shirts" >
        <app-blog *ngIf="
        (isBrown && shirt.colour === 'brown') 
        || (isGold && shirt.colour === 'gold')
        || (isBlue && shirt.colour === 'blue')
        || (isPink && shirt.colour === 'pink')
        || (isRed && shirt.colour === 'red')
        || (isGreen && shirt.colour === 'green')
        || (isYellow && shirt.colour === 'yellow')
        || (isBlack && shirt.colour === 'black')
        || (isGrey && shirt.colour === 'grey')
        || (isWhite && shirt.colour === 'white')
        
        || (isXS && shirt.size === 'xs' || shirt.size === 'XS' || shirt.size === 'x-small')
        || (isS && shirt.size === 's' || shirt.size === 'S' || shirt.size === 'small')
        || (isM && shirt.size === 'm' || shirt.size === 'M' || shirt.size === 'medium')
        || (isL && shirt.size === 'l' || shirt.size === 'L' || shirt.size === 'large' )
        || (isXL && shirt.size === 'xl' || shirt.size === 'XL' || shirt.size === 'x-large')
        || (isXXL && shirt.size === 'xxl' || shirt.size === 'XXL' || shirt.size === 'xx-large')
 
        || (!isBrown && !isGold && !isBlue && !isPink && !isRed && !isGreen && !isYellow && !isBlack && !isGrey && !isWhite
        && !isXS && !isS && !isM && !isL && !isXL && !isXXL)" [shirt]="shirt"></app-blog>
      </div>
    </div> 
