<div class="description">
    <div class='description-inner'>
      <h3 class='description-subtitle'>LOOKING FOR SOMETHING SPECIFIC?</h3>
      <h2 class='description-title'>I AM LOOKING FOR...</h2>
    </div>
    <h4 class='description-number deep'>03</h4>

    <div class="blogins">
        <app-color (click)="isGold=!isGold;gold$.emit(isGold);" [color]="'gold'" [isActive]="isGold"></app-color>
        <app-color (click)="isBrown=!isBrown;brown$.emit(isBrown);" [color]="'brown'" [isActive]="isBrown"></app-color>
        <app-color (click)="isGreen=!isGreen;green$.emit(isGreen);" [color]="'green'" [isActive]="isGreen"></app-color>
        <app-color (click)="isRed=!isRed;red$.emit(isRed);" [color]="'red'" [isActive]="isRed"></app-color>
        <app-color (click)="isBlue=!isBlue;blue$.emit(isBlue);" [color]="'blue'" [isActive]="isBlue"></app-color>
        <app-color (click)="isPink=!isPink;pink$.emit(isPink);" [color]="'pink'" [isActive]="isPink"></app-color>
        <app-color (click)="isYellow=!isYellow;yellow$.emit(isYellow);" [color]="'yellow'" [isActive]="isYellow"></app-color>
        <app-color (click)="isBlack=!isBlack;black$.emit(isBlack);" [color]="'black'" [isActive]="isBlack"></app-color>
        <app-color (click)="isGrey=!isGrey;grey$.emit(isGrey);" [color]="'grey'" [isActive]="isGrey"></app-color>
        <app-color (click)="isWhite=!isWhite;white$.emit(isWhite);" [color]="'white'" [isActive]="isWhite"></app-color>
    </div>       
    <div class="blogins">
        <app-size (click)="isXS=!isXS;XS$.emit(isXS);" [size]="'XS'" [isActive]="isXS"></app-size>
        <app-size (click)="isS=!isS;S$.emit(isS);" [size]="'S'" [isActive]="isS"></app-size>
        <app-size (click)="isM=!isM;M$.emit(isM);" [size]="'M'" [isActive]="isM"></app-size>
        <app-size (click)="isL=!isL;L$.emit(isL);" [size]="'L'" [isActive]="isL"></app-size>
        <app-size (click)="isXL=!isXL;XL$.emit(isXL);" [size]="'XL'" [isActive]="isXL"></app-size>
        <app-size (click)="isXXL=!isXXL;XXL$.emit(isXXL);" [size]="'XXL'" [isActive]="isXXL"></app-size>
    </div> 

    <button *ngIf="shouldAppear()" class="btn btn-danger" (click)="clear()">Clear filters <i class="fa fa-times"></i></button>
  </div>
       
 